@{
  Layout = null;
}
<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<!DOCTYPE html>
<html lang="ja-JP" xml:lang="ja-JP" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>エラー</title>
</head>
<body>
  <article>
    <header>
      <h1>エラー。</h1>
    </header>
    <p>要求の処理中にエラーが発生しました。</p>
  </article>
</body>
</html>
