@{
  ViewBag.Title = "GitHub-Gist";

  var apiEndpoint = Configuration.ApiEndpoint;

  var sourceUri = new Uri(apiEndpoint, "github-gist/d80103a9d1c3c12b1786/HelloWorld.cs");
}
<h2>@ViewBag.Title</h2>
<div>
  <pre id="code" class="brush: csharp"></pre>
</div>

@section scripts
{
  <script type="text/javascript">

    $(function () {

      $.ajax("@sourceUri", {

        success: function (data) {

          $('#code').text(data);
          SyntaxHighlighter.highlight();

        }
      });

    });
  </script>
}
