@{
  ViewBag.Title = "Home Page";
}
<article>
  <header>
    <div class="jumbotron">
      <h1>CodeEmbed</h1>
      <p class="lead">
        ブログ等のサイトに <a href="https://github.com/">GitHub</a> のリポジトリや <a href="https://gist.github.com/">Gist</a> にあるコードを埋め込むためのサービスです。
      </p>
    </div>
  </header>

  <section>
    <h2>何ができるの？</h2>
    <p>現時点では、GitHub や Gist からソースコードを取得するだけの機能しかありません。</p>
    <p>今後は、BitBucket への対応と、使いやすくするためのスクリプトやタグ ジェネレーター等の整備を予定しています。</p>

    <section>
      <h3>え、でも Gist には埋め込み機能があるでしょ？</h3>
      <p>はい。が、GitHub のコードを同じ表示形式で埋め込むことができませんし、欲を言えばもう少し便利な機能が欲しいところです。</p>
      <p>
        GitHub のコードの埋め込みには <a href="http://gist-it.appspot.com/">gist-it</a> のようなサービスもありますが、その代替になるものを目指しています。
      </p>
    </section>
  </section>

  <section>
    <h2>使い方</h2>
    <p>GitHub のコードを埋め込む方法は @Html.ActionLink("GitHub-Git", "GitHubGit")、Gist のコードを埋め込む方法は @Html.ActionLink("GitHub-Gist", "GitHubGist") をご覧ください。</p>
  </section>

  <section>
    <h2>ソース コード</h2>
    <p>
      <a href="https://github.com/aetos382/CodeEmbed">GitHub</a> で公開しています。
    </p>
  </section>

  <section>
    <h2>お問い合わせ</h2>
    <p>
      <a href="https://twitter.com/aetos382">@@aetos382</a> までお願いします。
    </p>
  </section>
</article>
