@{
  this.ViewBag.Title = "How To Use";
}
<h2>@ViewBag.Title</h2>

<p>現在は、URL を手動で組み立てて、jQuery 等でデータを取得して頂くことになります。</p>
<p>将来的には、もう少し使いやすくする予定です。</p>

<h3>Gist のコードを使う</h3>

<h4>必要なもの</h4>
<ul>
  <li>Gist の ID</li>
  <li>ファイル名</li>
</ul>